.formulario{
    display: flex;
    justify-content: center;
    padding: 4em;
}
.formulario form{
    background-color:rgba(0,0,0,0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-top: 3em;
    width: 30em;
    padding: 3em;
    border-radius: 3em;
    box-shadow: 0em 0.5em 0.5em rgba(0,0,0,0.4);

}